section {
  background: #FEF9D9;
  padding: 20px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
}

#main h1 h2 h3 {
  font-family: "Trirong", serif;
}

#main-nav {
  float: left;
  width: 100%;
  background-color: #333;
}
#main p {
font-family: Tahoma, Verdana, sans-serif;
}

#main {
  text-align: center
}

#main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left:50%;
}

#main-nav ul li {
  float: left;
  position: relative;
  right: 50%;
}

#main-nav ul li a {
  padding: 10px 25px;
  display: block;
  text-decoration: none;
  color: #ccc;
}

#main-nav ul li a:hover {
  background-color: #ccc;
  color: #333;
}
