
#main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

#main-nav {
  float: left;
}

#main-nav {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#main-nav: hover {
  background-color: #111;
}

#list1 {
  list-style-type: circle;
}



